.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .video_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .content {
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 8rem);

    .logo_wrapper {
      display: flex;
      justify-content: center;

      .logo {
        width: 70%;

        @media (min-width: 1920px) {
          width: 80%;
        }
      }
    }
  }
}
