.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:has(.item_completed) {
    cursor: pointer;

  }
}

.label {
  color: #48e471;
  font-family: 'Montserrat', sans-serif;
}

.item {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0.3);
}

.item_completed {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #48e471;
  background-color: #48e471;
  & :hover {
  }
}

.item_selected {
  color: #3d3d3d;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #fff;
  background-color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: normal;
}

.item,
.item_selected,
.item_completed {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.arrow {
  color: white;
  margin: 0 auto;
}
