.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.label {
  color: #48e471;
  font-family: 'Montserrat', sans-serif;
}

.item {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0.3);
}

.item_completed {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #48e471;
  background-color: #48e471;
}

.arrow {
  color: white;
  margin: 0 auto;
}
