.section {
  overflow: hidden !important;
  .container {
    padding: 3rem 0 1.5rem 0;

    @media (min-width: 768px) {
      padding: 5rem 0 2.5rem 0;
    }

    .section_title {
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      text-transform: uppercase;
    }

    .slider {
      overflow: visible !important;

      .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .fill {
          border-radius: 1.5rem;
          padding-top: 168.11965812%;
          background: 'grey';
        }
      }
    }
  }
}
