.backdrop {
  z-index: 998;
}

.loader_container {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader_np_container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_container {
  z-index: 999;
  border-radius: 999rem;
  width: 20rem;

  .image_fill {
    padding-top: 100%;

    .image {
      animation: spin 2s ease infinite;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
