.card {
  border: .1rem solid #cfcfcf;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;

  &:active {
    transform: scale(.98);
  }
}

.info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: .2rem solid #cfcfcf;
}

.title {
  font-size: 1.6rem;
}

.type,
.size {
  font-family: 'Montserrat', sans-serif;
}

.size {
  margin-bottom: 3rem;
}

.image {
  max-height: 12rem;
  border: .1rem solid #cfcfcf;
  border-radius: 1rem;
  overflow-x:  hidden;
  align-self: center;
}

.controls_wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-inline: 1.5rem;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.delete_icon,
.minus_icon,
.plus_icon {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  padding: 1rem;
  font-size: 3.2rem;
  border-radius: 50rem;


  &:hover {
    cursor: pointer;
  }
}

.minus_icon,
.plus_icon {
  &:hover {
    background-color: #cfcfcf;
  }
}


.delete_icon {
  &:hover {
    background-color: #ff6666;
  }
}

.quantity_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total {
  text-align: right;
}