@import 'App.scss';

.container {
  padding-bottom: 3rem;
  padding-top: 10rem;

  @media (min-width: 1200px) {
    padding-top: 12.2rem;
  }

  h1 {
    font-family: $font-f-secondary;
    font-weight: $font-w-700;
    letter-spacing: $ls-secondary;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .button_wrapper {
    margin-top: 5rem;
    text-align: center;
    
    button {
      width: 70%;
      padding: 2rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      background: $back-detail;
      color: #fff;
      border-radius: 1rem;

      &:disabled {
        color: #3d3d3d;
        background: #bdc3c7 ;
      }
    }
  }
}
