@import 'App.scss';

.card_wrapper {
  .card {
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.01);
    }
  }

  .link {
    display: flex;
    flex-direction: column;

    &:hover {
      color: inherit;
    }

    .image_wrapper {
      position: relative;
      max-width: 100%;

      @media (min-width: 768px) {
      }

      .image_top,
      .image_bottom {
        max-height: 50rem;

        @media (min-width: 768px) {
          max-height: none;
        }
      }

      .image_top:hover {
        animation: slideshow 5s infinite;
      }

      @keyframes slideshow {
        0%,
        100% {
          opacity: 100%;
        }
        30%,
        70% {
          opacity: 0;
        }
      }

      .image_bottom {
        z-index: -1;
        position: absolute;
        top: 0;
      }
    }
  }

  .info_wrapper {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 1.4rem;
      font-family: $font-f-secondary;
      font-weight: $font-w-900;
      letter-spacing: $ls-secondary;
    }

    .color {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-transform: capitalize;
      padding: 0.1rem 0;
      font-weight: $font-w-700;

      span {
        padding: 0.1rem 1rem;
        border-radius: 0.6rem;
        font-size: 1rem;
        color: $c-secondary;
        background-color: $back-c-button-primary;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
      }
    }

    .price {
      font-weight: $font-w-900;
    }

    .price,
    .color {
      font-size: 1.2rem;
      font-family: $font-f-secondary;
      letter-spacing: $ls-secondary;
      color: #3d3d3d;
    }
  }
}
