.loader_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border-radius: 999rem;
  z-index: 999;
  width: 20rem;
  height: 20rem;
  border: 1px solid;
  border-color: hsla(0, 0%, 5%, 0.2);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);

  animation: spin 2s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
