@import 'App.scss';

.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.modal_header {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 2fr;

  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.date {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
}

.list_wrapper {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-y: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 100vw
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 76%);
    border-radius: 100vw
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 66%);
  }
}

.item_container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
}

.image_wrapper {
  position: relative;
}

.amount {
  position: absolute;
  top: -.8rem;
  right: -.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
  background-color: #3d3d3d;
}

.price {
  font-weight: bold;
}

.name,
.size,
.price {
  font-family: 'Montserrat', sans-serif;
}


.image {
  max-height: 12rem;
  border: .1rem solid #cfcfcf;
  border-radius: 1rem;
  overflow-x:  hidden;
  align-self: center;
}

.modal_footer {
  border-top: 3px solid black;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: solid 0.2rem $c-button-primary;
  border-radius: 1rem;
  width: 100%;
  background-color: $c-button-primary;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $ls-button;

  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: $c-button-hover;
    border-color: $c-button-hover;
  }
}