.container {
  position: relative;
  padding-top: 10rem;
  display: flex;
  flex-direction: column-reverse;
  
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;;
    padding-top: 12.2rem;
    gap: 4rem;
  }
} 

.info {
  display: grid;
  grid-template-areas: "name price"
                       "details ."
                       "variants variants"
                       "sizes sizes"
                       "button button";
  padding: 2rem;
  

  @media (min-width: 768px) {
    display: block;
    padding: 0;
    position: sticky;
    top: 15.8rem;
  }
}

.name {
  grid-area: name;
}

.details {
  font-family: 'Montserrat';
  margin-bottom: .8rem;
  grid-area: details;
}

.price {
  grid-area: price;
  text-align: right;
  @media (min-width: 768px) {
    margin-bottom: 25rem;  
    text-align: left;

  }
}

.variants_wrapper {
  grid-area: variants;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border: .2rem solid #9e9e9e;
  border-radius: 1rem;

  @media (min-width: 768px) {
    margin-bottom: 5rem;
  }
}

.sizes_wrapper {
  grid-area: sizes;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.button {
  grid-area: button;
  border: .2rem solid #000;
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: #fff;
  // override tailwind css
  background: #000!important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(.9) ;
  }  
}

.button_disabled {
  grid-area: button;
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: #3d3d3d;
  border: .2rem solid #9e9e9e;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.images_wrapper {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;

  @media (min-width: 768px) {
    flex-direction: column;
    overflow-x: visible;
  }

  &::-webkit-scrollbar {
    height: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 100vw
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 76%);
    border-radius: 100vw
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 66%);
  }
}

.images {
  max-height: 50rem;
  border: 0 solid #e5e7eb;
  border-radius: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);

  @media (min-width: 768px) {
    max-height: none;
  }
}


