@import 'App.scss';

.container {
  padding-bottom: 3rem;
  padding-top: 10rem;

  @media (min-width: 1200px) {
    padding-top: 12.2rem;
  }

  h1 {
    font-family: $font-f-secondary;
    font-weight: $font-w-700;
    letter-spacing: $ls-secondary;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
