.info_container {
  .title {
    font-size: 1.8rem;
  }

  p,
  span,
  input {
    color: #fff;
    font-size: 1.6rem;
  }

  p,
  span,
  label,
  a,
  button {
    font-family: 'Montserrat', sans-serif;
  }

  label {
    color: #b1b1b3;
    line-height: normal;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }

  input {
    line-height: normal;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #515255;
    border-radius: 1rem;
  }
}

.info_form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.contact_info_wrapper {
  .title {
    margin-bottom: 2rem;
  }
}

.shipping_address_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .title {
    margin-bottom: .5rem;
  }
}

.float_container {
  position: relative;

  .label_no_focus {
    position: absolute;
    left: 1.1rem;
    top: 1.7rem;
    bottom: 0;
    margin: auto 0;
    font-size: 1.6rem;
    opacity: 0;
  }

  .label_focus {
    position: absolute;
    left: 1.1rem;
    top: 0.9rem;
  }

  .input_no_focus {
    padding: 1.5rem 1rem 1.5rem;
  }

  .input_focus {
    padding: 2.2rem 1rem 0.8rem;
  }
}

.name_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.zip_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.form_controls {
  display: flex;
}

.back_link {
  display: inline-flex;
  align-items: center;
  line-height: normal;
  color: #fff;
  font-size: 1.6rem;

  span {
    font-size: 1.8rem;
  }

  &:hover {
    color: #fff;
  }
}

.button {
  margin-left: auto;
  padding: 2rem;
  //override tailwind
  background-color:  #48e471 !important;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 1rem;


  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    background-color: #74eb93 !important;
  }
}
