@import 'App.scss';

.modal {
  padding: 3rem 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100%;
  background: #fff;
  padding: 0 2rem;

  i {
    font-size: 2.5rem;
  }

  overflow-y: overlay;

  &::-webkit-scrollbar {
    width: 1rem;
    padding-left: calc(100vw - 100%);
    margin-right: 2rem;
  }

  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 76%);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 66%);
  }
}

.links_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 2rem;
  border-bottom: 1px solid hsla(0, 0%, 5%, 0.2);

  @media (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  h2 {
    font-size: 1.7rem;
    font-family: $font-f-secondary;
    font-weight: $font-w-black;
    letter-spacing: -0.05rem;
    margin-bottom: 0.5rem;
  }

  .link {
    font-family: $font-f-secondary;
    font-weight: $font-w-bold;
    letter-spacing: $ls-secondary;

    font-size: 1.6rem;
    color: $c-link-primary;
    line-height: none;
    display: inline-block;
    position: relative;

    &:hover {
      color: $c-link-hover;
    }
  }

  a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0rem;
    left: 0rem;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.title {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: $ls-primary;
  margin-bottom: 2rem;
}

.products_container {
  padding: 2rem 0;
  border-bottom: 1px solid hsla(0, 0%, 5%, 0.2);
}

.info_container {
  padding: 2rem 0;

  .links_list {
    .link {
      font-family: $font-f-secondary;
      font-weight: $font-w-bold;
      letter-spacing: $ls-secondary;
      color: $c-link-primary;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.8rem;
      border-radius: 0.8rem;
      margin-bottom: 0.4rem;

      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      &:hover {
        background-color: hsla(0, 0%, 5%, 0.2);
        color: $c-link-hover;
      }
    }
  }
}

.socials_container {
  border-top: 1px solid hsla(0, 0%, 5%, 0.2);
  margin-top: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
