.container {
  padding-top: 2.5rem;

  @media (max-width: 768px) {
    padding-top: 1.5rem;
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  .grid_container {
    display: grid;
    grid-template-areas:
      'remeras buzos'
      'accesorios buzos';
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @media (max-width: 768px) {
      grid-template-areas: none;
      grid-template-columns: none;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
