.modal {
  background-color: hsla(0, 0%, 100%, 0.75) !important;
  backdrop-filter: blur(8px !important);
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.modal_header {
  margin: 0 2rem;

  .values_container {
    padding: 1.5rem 0 !important;
  }

  .input_wrapper {
    height: 6rem;
    border-bottom: 2px solid rgba(105, 105, 105, 0.4);
    display: flex;
    align-items: center;
    border-top: 0 solid #fff;
    transition: border-top 0.1s ease-in-out;

    &.is_open {
      border-top: 2px solid rgba(105, 105, 105, 0.4);
    }

    input {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      width: 100%;
      font-size: 1.4rem;
    }
  }
}

// shared
.options_container {
  padding: 2.5rem 0;
  margin: 0 2rem;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  .option_card {
    background: hsla(0, 0%, 5%, 0.2);
    padding: 1.5rem 2rem;
    border-radius: 2rem;

    .option_title_wrapper {
      padding-bottom: 1rem;
      border-bottom: 2px solid rgba(105, 105, 105, 0.4);

      .option_title {
        text-transform: uppercase;
      }
    }

    .option_buttons_wrapper {
      padding-top: 1rem;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}

.option_buttons_wrapper {
  .option_button_value {
    user-select: none;
    display: flex;
    gap: 0.5rem;
    font-family: $font-f-secondary;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    transition: all ease-in-out 0.2s;

    div {
      border: 1px solid black;
    }

    &:hover {
      cursor: pointer;
    }

    &.is_selected,
    &:hover {
      background: #000;
      color: #fff;

      div {
        border: 1px solid white;
      }
    }

    &.is_selected:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

.slider {
  height: 1rem;
  width: 26rem;
  background: rgba(#000000, 0.5);
  border-radius: 0.5rem;
  margin: 0.5rem 0;

  @media (min-width: 1024px) {
    margin: 1rem 0;
  }
}

.thumb {
  background: #000;
  color: #fff;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  top: -50%;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.option_buttons_container,
.option_values_container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  opacity: 0;
  transition: grid-template-rows 0.2s ease-in-out, opacity 0.4s ease-in-out;

  &.is_open {
    grid-template-rows: 1fr;
    opacity: 1;
  }

  .expandable {
    min-height: 0;
  }
}

.container_s {
  position: fixed;
  width: 88%;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 35;

  .modal_open_button {
    position: relative;
    border-radius: 99rem;
    border: $border-modal;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 8px 10px -6px rgba(0, 0, 0, 0.1);
    background-color: hsla(0, 0%, 100%, 0.85);
    backdrop-filter: blur(8px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }

    .conditions_count {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      color: #fff;
      background-color: #3d3d3d;
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 99rem;
      font-family: $font-f-secondary;
      font-weight: 700;
    }
  }
}

.container_b {
  position: fixed;
  max-width: 87%;
  background-color: hsla(0, 0%, 100%, 0.85);
  backdrop-filter: blur(8px);
  box-shadow: $box-shadow;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.5rem;
  border: $border-modal;
  z-index: 35;

  .option_buttons_container {
    .option_buttons_wrapper {
      padding: 2rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.8rem;
  border-top: 0 solid #fff;
  transition: border-top 0.1s ease-in-out;
  margin: 0 2rem;

  &.option_is_selected {
    border-top: 2px solid rgba(105, 105, 105, 0.4);
  }

  &.value_is_selected {
    border-bottom: 2px solid rgba(105, 105, 105, 0.4);
  }

  .option {
    width: 100%;
    user-select: none;
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    letter-spacing: $ls-primary;
    color: #3d3d3d;
    border-radius: 0.5rem;
    position: relative;
    transition: color 0.2s ease-in-out, padding 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      color: #000;
    }

    @media (min-width: 1200px) {
      padding: 0 2rem;
    }

    svg {
      transition: transform 0.2s ease-in-out;
    }

    &::before {
      content: '';
      position: absolute;
      top: 5%;
      height: 90%;
      width: 95%;
      background-color: #3d3d3d;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(105, 105, 105, 0.4);
      border-radius: 0.5rem;
      opacity: 0;
      transition: opacity 0.2s ease-in-out, padding-bottom 0.1s ease-in-out,
        border-radius 0.1s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }

    &:not(:first-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -0.5rem;
      height: 3rem;
      width: 0.2rem;
      background-color: rgba(105, 105, 105, 0.4);
    }

    span {
      white-space: nowrap;
    }

    &.is_selected {
      padding-bottom: 0.25rem;

      &::before {
        content: '';
        position: absolute;
        top: 0%;
        height: 90%;
        width: 95%;
        background-color: #3d3d3d;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(105, 105, 105, 0.4);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        opacity: 1;
        transition: opacity 0.2s ease-in-out, top 0.1s ease-in-out,
          border-radius 0.1s ease-in-out;
      }

      svg {
        transform: rotate(-180deg);
      }
    }
  }
}
