@import 'App.scss';

.modal {
  position: fixed;
  right: 50%;
  transform: translate(50%, 0);
  bottom: 0;
  height: 80%;
  width: 98%;
  background-color: white;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  z-index: $z-modal;
  border: 1px solid;
  border-color: hsla(0, 0%, 5%, 0.2);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);

  @media (min-width: 900px) {
    height: 90%;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 50%;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 0;
  }

  @media (min-width: 1024px) {
    width: 40%;
  }

  @media (min-width: 1200px) {
    width: 30%;
  }
}
