@import 'App.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  p {
    text-align: center;
  }

  p,
  button {
    font-family: $font-f-secondary;
    font-weight: $font-w-700;
    letter-spacing: $ls-secondary;
  }

  .controls_wrapper {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    
    button { 
      padding: .5rem 2rem;
      border-radius: .6rem;
      background-color: #3d3d3d;
      color: white;
    }
  }
}
