@import 'App.scss';


.size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: .2rem solid #9e9e9e;
  border-radius: 1rem;
  color: #000;
  font-family: $font-f-secondary;
  margin: 0 auto;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(.9);
  }
}

.no_stock {
  border: none;
  text-decoration: line-through;
}

.fill {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: $font-w-700;
}

.no_stock,
.fill {
  &:hover {
    cursor: auto;
  }

  &:active {
    transform: scale(1);
  }
}