.nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}

.container_top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  

  @media (min-width: 768px) {
    padding: 1rem 3rem;
  }

  @media (min-width: 1024px) {
  
  }

  & a {
    display: flex;
    align-items: center;
  }

}

.logo {
  width: 14rem;
}

.container_bottom {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.icons_menu {
  display: flex;
  gap: 3rem;

  & li {
    font-size: 3rem;
  }

  & li:hover {
    cursor: pointer;
  }
}

.search_icon,
.cart_icon,
.user_icon {
  display: flex;
  align-items: center;
}

.mobile_icon {
  display: flex;
  align-items: center;
  
  @media (min-width: 768px) {
    display: none;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}
  