.container {
  padding-top: 1.5rem;

  @media (min-width: 768px) {
    padding-top: 2.5rem;
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  .grid_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: 768px) {
      display: grid;
      grid-template-areas:
        'item-1 item-2'
        'item-3 item-2';
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
