.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/checkout-background.jpg');
  background-size: cover;
  background-position: center top;
  overflow: hidden;
}

.layout {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  .loader_container {
    height: 100vh;
  }

  .logo {
    width: 15rem;

    @media (min-width: 1200px) {
      width: 20rem;
    }
  }

  .header {
    display: flex;
    padding-top: 4rem;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .content_wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 5.3fr 4fr;
      min-height: 100vh;
    }

    .info_container {
      padding-bottom: 4rem;
      height: 100%;

      @media (min-width: 1200px) {
        padding: 10rem 6rem 10rem 0rem;
        padding-top: 10rem;
        padding-right: 6rem;
        border-right: 1px solid #414246;
      }

      .info_header {
        display: none;
        @media (min-width: 1200px) {
          display: flex;
        }
      }
    }

    .order_summary_container {
      height: 100%;
      padding-top: 3rem;
      border-bottom: 1px solid #414246;
      padding-bottom: 3rem;

      @media (min-width: 1200px) {
        padding-top: 10rem;
        padding-left: 6rem;
        border-bottom: none;
      }
    }
  }
}

// .error_modal {
//   right: 50%;
//   transform: translate(50%, 0);
//   top: 2.5%;
//   position: fixed;
//   max-width: 45rem;
//   min-height: 8rem;
//   width: 90%;
//   z-index: 100;
//   border-radius: 1rem;

//   @media (min-width: 1200px) {
//     right: 2.5%;
//     transform: none;
//   }
// }
