@import 'App.scss';

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 1.5rem;
  gap: 2rem;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 80% 20%;
    max-width: 120rem;
    padding: 3rem 3rem 1.5rem;
    gap: 0;
  }
}

.sitemap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  .nav_wrapper {
    padding: 2rem;
    border: 2px solid #3d3d3d;
    border-radius: 1rem;

    @media (min-width: 900px) {
      padding: 0;
      border: none;
      border-radius: 0;
    }

    .nav_title {
      font-family: $font-f-hero;
      letter-spacing: $ls-button;
      text-transform: uppercase;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    a {
      font-family: $font-f-secondary;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
      font-size: 1.2rem;
      display: inline-block;
      position: relative;
    }

    a::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0rem;
      left: 0rem;
      background-color: #000;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: auto;
  gap: 3rem;
  padding-top: 2rem;
  width: 75%;
  border-top: $border-modal;

  @media (min-width: 900px) {
    padding-top: 0;
    width: auto;
    border-top: none;
    padding-top: 0;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 2rem;
  }

  & a {
    font-size: 2.6rem;

    @media (min-width: 900px) {
      font-size: 3rem;
    }
  }
}
