@import 'App.scss';

.card {
  position: relative;
  max-height: 50rem;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  -ms-transition: all ease .2s;
  transition: all ease .2s;

  &:hover {
    transform: scale(1.01);
  }
  
  
  @media (min-width: 768px) {
    &:nth-child(1) {
      grid-area: remeras;
      max-height: 55rem
    }
    &:nth-child(2) {
      grid-area: buzos;
      max-height: none;

    }
    &:nth-child(3) {
      grid-area: accesorios;
      max-height: 55rem;
    }
  }
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #000;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  letter-spacing: $ls-button;
  text-transform: uppercase;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  -ms-transition: all ease .2s;
  transition: all ease .2s;
  

  &:hover {
    transform: translate(-50%, -60%);
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}




