@import 'App.scss';

.nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  border: 1px solid;
  border-color: hsla(0,0%,5%, .2);
  border-radius: 0 0 3rem 3rem;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
  padding: 1.5rem 3rem 1.5rem 3rem;
  left: 50%;
  transform:translateX(-50%);
  

  @media (min-width: 768px) {
    padding: 1.5rem 3rem .5rem 3rem;
    max-width: 125rem;
    width: 90%;
  }
}

.container_top {
  display: flex;
  justify-content: space-between;

  & a {
    display: flex;
    align-items: center;
  }
 

}

.logo {
  width: 14rem;
}

.container_bottom {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.icons_menu {
  display: flex;
  gap: 3rem;

  & li {
    font-size: 3rem;
  }

  & li:hover {
    cursor: pointer;
  }
}

.search_icon,
.cart_icon,
.user_icon {
  display: flex;
  align-items: center;
}

.cart_icon {
  position: relative;
}

.mobile_icon {
  display: flex;
  align-items: center;
  
  @media (min-width: 768px) {
    display: none;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: $ls-button;
  color: #000;
}

.link {
  padding: none;

  @media (min-width: 1024px) {
    padding: 0rem 3rem 0 3rem;
  }
}
  