@import 'App.scss';

.container {
  padding: 3rem 0 3rem 0;
  text-align: center;
}

.title {
  font-size: 1.6rem;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @media (min-width: 480px) {
    text-align: center;
  }

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 75%;
  }

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.input {
  border: solid 0.2rem #9e9e9e;
  border-radius: 1rem;
  padding: 1rem 2rem;
  // width: 100%;
  font-size: 1.6rem;
}

.button {
  // flex: 1;
  padding: 0 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $ls-button;
  background-color: $back-c-button-primary !important;
  width: auto;
  align-self: stretch;

  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  @media (min-width: 480px) {
    font-size: 1.4rem;
  }

  @media (min-width: 600px) {
    font-size: 1.6rem;
  }

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    background-color: $back-c-button-hover !important;
  }
}

.success {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: $ls-button;
  border: 2px solid $border-c-button-checkout;
  background-color: #ccc !important;
  align-self: stretch;

  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: auto;
  }
}
