@import 'App.scss';

.container {
  padding: 3rem 0 3rem 0;
  text-align: center;
}

.title {
  font-size: 1.6rem;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @media (min-width: 480px) {
    text-align: center;
  }

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input {
  border: solid 0.2rem #9e9e9e;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1.6rem;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $ls-button;
  background-color: $back-c-button-primary !important;

  @media (min-width: 768px) {
    width: 50%;
  }

  &:hover {
    background-color: $back-c-button-hover !important;
  }
}
