.container {
  display: flex;
  flex-direction: column;

  .card {
    &:hover {
      transform: scale(1.01);
    }

    .link {
      display: flex;
      flex-direction: column;

      &:hover {
        color: inherit;
      }

      .image_wrapper {
        width: 100%;
        height: 100%;
        border: 1px solid hsla(0, 0%, 5%, 0.1);

        .placeholder_image {
          padding-top: 141.42150538%;
          background: $back-c-grey;
          display: block;
          border-radius: 3rem;
        }

        .image_primary {
          max-height: 50rem;
          display: block;
          opacity: 0;
          transition: opacity 0.6s ease-in-out;
          &.loaded {
            opacity: 1;
          }

          @media (min-width: 768px) {
            max-height: none;
          }
        }
      }
    }
  }

  .info_wrapper {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 1.4rem;
      font-family: $font-f-secondary;
      font-weight: $font-w-900;
      letter-spacing: $ls-secondary;
      text-transform: capitalize;
    }

    .color {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-transform: capitalize;
      padding: 0.1rem 0;
      font-weight: $font-w-700;

      span {
        padding: 0.1rem 1rem;
        border-radius: 0.6rem;
        font-size: 1rem;
        color: $c-secondary;
        background-color: $c-var;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
      }
    }

    .price {
      font-weight: $font-w-900;
    }

    .price,
    .color {
      font-size: 1.2rem;
      font-family: $font-f-secondary;
      letter-spacing: $ls-secondary;
      color: #3d3d3d;
    }
  }

  .admin_buttons_wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .edit {
      background: $back-c-detail;
    }

    .delete {
      background: rgba(243, 121, 120, 0.95);
    }

    .edit,
    .delete {
      border-radius: 1rem;
      font-family: $font-f-secondary;
      font-weight: $font-w-900;
      font-size: 1.4rem;
      letter-spacing: $ls-secondary;
      padding: 1rem;
    }
  }
}
