@import 'App.scss';

.empty {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.no_products {
  text-align: center;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: solid 0.2rem #000;
  border-radius: 1rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $ls-button;

  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    color: #fff;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .list_wrapper {
    margin: 0 0.2rem;
    height: 100%;
    overflow-y: overlay;

    &::-webkit-scrollbar {
      width: 1rem;
      margin-bottom: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      background: hsl(0, 0%, 95%);
      border-radius: 100vw;
      margin: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background: hsl(0, 0%, 76%);
      border-radius: 100vw;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: hsl(0, 0%, 66%);
    }

    .list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
    }
  }

  .footer_container {
    border-top: 3px solid #414141;
    margin-top: auto;
    width: 100%;

    .footer_wrapper {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
