.overlay {
  display: block;
}

.modal {
  position: fixed;
  right: .5vh;
  top: 50%;
  transform: translate(0, -50%);
  width: 600px;
  height: 90%;
  background-color: white;
  padding: 1rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  z-index: 999;
  border: 1px solid;
  border-color: hsla(0,0%,5%, .2);
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);

}