.modal_container {
  position: fixed;
  overflow: hidden;
  z-index: 101;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: 900px) {
    align-items: center;
    justify-content: flex-start;
  }

  .modal_wrapper {
    height: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: center;
    }

    .product_slider_modal {
      overflow: hidden !important;
      padding-bottom: 2rem;
      width: 100%;
      display: none;

      @media (min-width: 900px) {
        display: block;
      }

      .title {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        margin-left: 3rem;
      }

      .slider {
        padding-left: 3rem;
        overflow: visible !important;

        .slide {
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 17rem;
          width: 60vw;

          @media (min-width: 600px) {
            max-width: 22rem;
          }

          .fill {
            border-radius: 1.5rem;
            border: 0.5px solid $border-c-var;
            width: 100%;
            background: 'grey';
          }
        }
      }

      .expandable {
        background: transparent !important;
      }
    }

    .cart_modal {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: white;
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;
      z-index: 1;
      border: $border-modal;
      border-color: hsla(0, 0%, 5%, 0.2);
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);

      @media (min-width: 900px) {
        width: 100%;
        max-width: 40rem;
        border-bottom-left-radius: 3rem;
        border-top-right-radius: 0;
      }
    }
  }
}
