@import 'App.scss';

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .table_container {
    .variant_number {
      font-family: $font-f-secondary;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
      margin-bottom: 0.5rem;
    }

    .table_wrapper {
      border: 1px solid #3d3d3d;
      padding: 1rem 2rem;
      border-radius: 1rem;

      table {
        width: 100%;

        tr {
          th {
            margin-bottom: 0.5rem;
            padding: 1rem 0;

            .color_header,
            .table_header {
              color: white;
              background: $back-detail;
              border-radius: 0.6rem;
              padding: 0.5rem 1rem;
              display: inline-flex;
              gap: 1rem;
              align-items: center;
            }

            .color_header {
              position: relative;
              &:hover .tooltip {
                visibility: visible;
                opacity: 1;
              } 
            }
          }

          th,
          td {
            font-family: $font-f-secondary;
            font-weight: $font-w-700;
            letter-spacing: $ls-secondary;
          }

          .size,
          th {
            text-transform: uppercase;
            text-align: center;
          }

          td {
            padding: 1rem 2rem;

            .images_button {
              font-family: $font-f-secondary;
              font-weight: $font-w-700;
              letter-spacing: $ls-secondary;
              padding: 0.5rem 2rem;
              color: #fff;
              background-color: #3d3d3d;
              border-radius: 0.6rem;
            }

            // .image_links {
            //   width: auto;
            //   .image_link {
            //     display: flex;
            //     gap: 1rem;

            //     div > label {
            //       width: calc(100% / 7);
            //       overflow: hidden;
            //       white-space: nowrap;
            //       text-overflow: ellipsis;
            //     }
            //   }
            // }

            input,
            .button {
              width: 100%;
            }

            input {
              border: 1px solid #3d3d3d;
              padding: 1rem;
              border-radius: 1rem;
              font-size: 1.2rem;
              font-weight: $font-w-400;
            }
          }
        }
      }
    }
  }
}
