// under 1024px width
.container_s {
  margin: 0 auto;
  position: relative;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  min-width: 100%;

  .swiper_container {
    top: calc(10rem - 2.95rem);
    position: sticky;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    .swiper_wrapper {
      overflow: hidden;

      .image {
        border-radius: 3rem;
        width: 100%;
      }
    }
  }

  .grid_footer {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-top: $border-modal;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    padding: 3rem 2rem;

    @media (min-width: 600px) {
      padding: 3rem 4rem;
    }

    .details_wrapper {
      padding-bottom: 2.5rem;
      width: 100%;

      .name_wrapper {
        display: flex;
        align-items: center;

        .name {
          font-family: $font-f-hero;
          text-transform: uppercase;
          letter-spacing: $ls-primary;
          font-size: 2.4rem;
          line-height: normal;
        }
        .price {
          margin-left: auto;
          font-family: $font-f-secondary;
          font-weight: $font-w-900;
          letter-spacing: $ls-secondary;
        }
      }

      .description {
        font-size: 1.2rem;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
        text-transform: capitalize;
        color: $c-var;
      }

      .color {
        font-size: 1.4rem;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
        text-transform: capitalize;
      }

      .tags_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      .tag_alt {
        background-color: $c-var;
      }

      .tag {
        background: $back-c-detail;
      }

      .tag,
      .tag_alt {
        text-transform: uppercase;
        padding: 0.1rem 1rem;
        border-radius: 0.6rem;
        font-size: 1rem;
        color: $c-secondary;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
      }
    }

    .controls_wrapper {
      padding: 2rem 0 3rem;
      display: flex;
      flex-direction: column;
      border-top: $border-modal;
      gap: 2rem;

      @media (min-width: 600px) {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
      }

      .variants_container {
        .number_of_colors {
          font-size: 1.4rem;
          font-family: $font-f-secondary;
          font-weight: $font-w-700;
          letter-spacing: $ls-secondary;
          text-transform: capitalize;
          margin-bottom: 1rem;

          span {
            font-size: 1.2rem;
            font-family: $font-f-secondary;
            font-weight: $font-w-700;
            letter-spacing: $ls-secondary;
            text-transform: capitalize;
            color: $c-var;
          }
        }
        .variants_wrapper {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          align-items: center;
          justify-content: center;
          gap: 1rem;
          padding: 1rem;
          border: 0.2rem solid #9e9e9e;
          border-radius: 1rem;
        }
      }

      .sizes_container {
        height: 100%;

        .pick_size {
          font-size: 1.4rem;
          font-family: $font-f-secondary;
          font-weight: $font-w-700;
          letter-spacing: $ls-secondary;
          text-transform: capitalize;
          margin-bottom: 1rem;
        }

        .sizes_wrapper {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 1rem;
        }
      }
    }

    .button_wrapper {
      border-top: $border-modal;
      padding-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;

      .button {
        border: 0.2rem solid $c-var;
        color: #fff;
        background: $back-c-button-primary;

        &:hover {
          cursor: pointer;
          background-color: $back-c-button-hover;
          border: 0.2rem solid $c-primary;
        }

        &:active {
          transform: scale(0.9);
        }
      }

      .button_disabled {
        padding: 2rem;
        color: #3d3d3d;
        border: 0.2rem solid #9e9e9e;

        &:hover {
          cursor: auto;
        }
      }

      .button,
      .button_disabled {
        border-radius: 1rem;
        width: 100%;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        padding: 2rem 1rem;

        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;

        @media (min-width: 600px) {
          font-size: 1.2rem;
          width: 50%;
        }
      }
    }
  }
}

// from 1024px width
.container_b {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 3rem;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-start;
  padding-top: 12.2rem;
  display: grid;
  gap: 3rem;

  @media (min-width: 1300px) {
    gap: 5rem;
  }

  .details_wrapper,
  .controls_wrapper {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // min-height: calc(100vh - 7.45rem + 2.65rem);
    // min-height: calc(100vh - 7.45rem);
    min-height: calc(100vh - 12.2rem + 2.65rem);
    // min-height: calc(100vh - 12.2rem);
  }

  .details_wrapper {
    .name {
      font-family: $font-f-hero;
      text-transform: uppercase;
      letter-spacing: $ls-primary;
      font-size: 2.4rem;
      line-height: normal;
    }

    .description {
      font-size: 1.2rem;
      font-family: $font-f-secondary;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
      text-transform: capitalize;
      color: $c-var;
    }

    .color {
      font-size: 1.4rem;
      font-family: $font-f-secondary;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
      text-transform: capitalize;
    }

    .tags_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .tag_alt {
      background-color: $c-var;
    }

    .tag {
      background: $back-c-detail;
    }

    .tag,
    .tag_alt {
      text-transform: uppercase;
      padding: 0.1rem 1rem;
      border-radius: 0.6rem;
      font-size: 1rem;
      color: $c-secondary;
      font-family: $font-f-secondary;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
    }

    .price {
      margin-top: 1.5rem;
      font-family: $font-f-secondary;
      font-weight: $font-w-900;
      letter-spacing: $ls-secondary;
    }
  }

  .controls_wrapper {
    .variants_container {
      .number_of_colors {
        font-size: 1.4rem;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
        text-transform: capitalize;
        margin-bottom: 1rem;

        span {
          font-size: 1.2rem;
          font-family: $font-f-secondary;
          font-weight: $font-w-700;
          letter-spacing: $ls-secondary;
          text-transform: capitalize;
          color: $c-var;
        }
      }

      .variants_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 5rem;
        padding: 1rem;
        border: 0.2rem solid #9e9e9e;
        border-radius: 1rem;
      }
    }

    .sizes_container {
      .pick_size {
        font-size: 1.4rem;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
        text-transform: capitalize;
        margin-bottom: 1rem;
      }

      .sizes_wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
      }
    }

    .button {
      color: #fff;
      border: 0.2rem solid $c-var;
      background: $back-c-button-primary;

      &:hover {
        cursor: pointer;
        background-color: $back-c-button-hover;
        border: 0.2rem solid $c-primary;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    .button_disabled {
      color: #3d3d3d;
      border: 0.2rem solid #9e9e9e;

      &:hover {
        cursor: auto;
      }
    }

    .button,
    .button_disabled {
      border-radius: 1rem;
      width: 100%;
      padding: 2rem 1rem;
      text-align: center;

      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      @media (min-width: 1024px) {
        font-size: 1rem;
      }

      @media (min-width: 1300px) {
        font-size: 1.2rem;
      }
    }
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .image_container {
      padding-top: 141.42017391%;
    }
  }
}
