// @import url('https://fonts.cdnfonts.com/css/monument-extended');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended');

@tailwind base;
@tailwind components;
@tailwind utilities;

$font-f-primary: 'Monument Extended', sans-serif;
$font-f-secondary: 'Inter', sans-serif;

$font-w-normal: 400;
$font-w-bold: 700;
$font-w-black: 900;

$c-primary: #000;
$c-secondary: #fff;
$c-link-primary: #3d3d3d;
$c-link-hover: #000;

$back-c-primary: #fff;

$back-c-button-primary: #3d3d3d;
$back-c-button-secondary: #fff;
$back-c-button-hover: #000;
$back-c-button-checkout: #48e471;
$back-c-button-checkout-hover: #74eb93;

$bc-var-hover: hsla(0, 0%, 5%, 0.2);

$border-c-button-checkout: #48e471;
$border-c-button-checkout-hover: #74eb93;
$border-c-var: hsla(0, 0%, 5%, 0.2);

$border-modal: 1px solid $border-c-var;

$ls-primary: 0.05rem;
$ls-secondary: -0.05rem;
$ls-link: 0.1rem;
$ls-button: 0.12rem;

$z-nav: 5;
$z-backdrop: 20;
$z-modal: 25;
$z-modal-n: 30;

html {
  box-sizing: border-box;
  font-size: 62.5%;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 76%);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 66%);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.2rem;
}

span {
  font-family: 'Monument Extended', sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Monument Extended', sans-serif;
  font-weight: 800;
  color: #000;
}

h1 {
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 2.7rem;
  }
}

h2 {
  font-size: 1.725rem;
  @media (min-width: 768px) {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.6rem;
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

footer {
  margin-top: auto;
}

.main-container {
  max-width: 125rem;
  width: 90%;
  margin: 0 auto;
}

.disabled-link {
  pointer-events: none;
}
