// @import url('https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended');
// @import url('https://db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Monument Extended';
  src: url('./assets/fonts/monument-extended.ttf');
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
  src: url('./assets/fonts/monument-extended-ultrabold.ttf');
}

$font-f-primary: 'Monument Extended', sans-serif;
$font-f-secondary: 'Inter', sans-serif;
$font-f-hero: 'Monument Extended Ultrabold', sans-serif;

$font-w-400: 400;
$font-w-700: 700;
$font-w-900: 900;

$c-primary: #000;
$c-secondary: #fff;
$c-var: #3d3d3d;
$c-detail: #8c52ff;
$c-link-primary: #3d3d3d;
$c-link-hover: #000;
$c-discount: rgba(243, 121, 120, 1);

$back-c-primary: #fff;
$back-c-grey: #3d3d3d;
$back-c-detail: radial-gradient(
  circle at 12.8% 28%,
  rgb(206, 155, 243) 0%,
  #8c52ff 90%
);
$back-c-highlight: hsla(0, 0%, 5%, 0.2);
$back-c-error: rgba(243, 121, 120, 0.95);
$back-c-discount: rgba(243, 121, 120, 0.95);

$back-c-button-primary: #3d3d3d;
$back-c-button-secondary: #fff;
$back-c-button-hover: #000;
$back-c-button-checkout: #48e471;
$back-c-button-checkout-hover: #74eb93;
$back-c-var-hover: hsla(0, 0%, 5%, 0.2);

$border-c-button-checkout: #48e471;
$border-c-button-checkout-hover: #74eb93;
$border-c-var: hsla(0, 0%, 5%, 0.2);
// $border-c-var: #3b3b3b;

$border-modal: 1px solid $border-c-var;

$ls-primary: 0.05rem;
$ls-secondary: -0.05rem;
$ls-link: 0.1rem;
$ls-button: 0.12rem;

$z-nav: 57;
$z-backdrop: 58;
$z-modal: 59;
$z-modal-n: 60;

$box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
