.container {
  padding: 3rem 0;

  @media (min-width: 768px) {
    padding: 10rem 0;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  @media (min-width: 768px) {
    position: absolute;
    top: -3rem;
    left: 2rem;
    z-index: 1;
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
  } 
}
