@import 'App.scss';

.container {
  padding: 3rem 0 1.5rem 0;

  @media (min-width: 768px) {
    padding: 5rem 0 2.5rem 0;
  }
}

.title {
  margin-bottom: .5rem;
}

.wrapper {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  letter-spacing: $ls-button;
  text-transform: uppercase;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  -ms-transition: all ease .2s;
  transition: all ease .2s;

  &:hover {
    transform: translate(-50%, -60%);
  }
}

.link {
  color: #fff;
  height: 100%;
  &:hover {
    color: #fff;

  }
}