.container {
  padding: 3rem 0 1.5rem 0;

  .section_text {
    font-family: $font-f-secondary;
    font-weight: $font-w-700;
    letter-spacing: $ls-secondary;
    line-height: 0;
    margin-bottom: 0.4rem;
  }

  @media (min-width: 768px) {
    padding: 5rem 0 2.5rem 0;
  }

  .section_title {
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  .wrapper {
    position: relative;
    min-height: 40rem;

    @media (min-width: 480px) {
      min-height: 50rem;
    }

    &:hover {
      transition: all ease 0.2s;
      transform: scale(1.01);
    }

    .content_wrapper {
      user-select: none;
      padding: 2rem;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;

      @media (min-width: 480px) {
        padding: 2.5rem;
      }

      @media (min-width: 768px) {
        padding: 3rem;
      }

      @media (min-width: 900px) {
        padding: 3.5rem;
      }

      @media (min-width: 1200px) {
        padding: 4rem;
      }

      .content_title {
        text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.6);
        font-size: 1.6rem;
        line-height: 1;
        text-transform: uppercase;
        font-family: $font-f-hero;
        color: $c-secondary;
        letter-spacing: 0.2rem;
        font-weight: $font-w-700;
        margin-bottom: 0.5rem;

        @media (min-width: 320px) {
          font-size: 1.8rem;
        }

        @media (min-width: 480px) {
          text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.5);
          font-size: 2.4rem;
        }

        @media (min-width: 768px) {
          font-size: 3rem;
        }

        @media (min-width: 900px) {
          font-size: 3.2rem;
        }

        @media (min-width: 1200) {
          font-size: 3.8rem;
        }

        @media (min-width: 1200px) {
          text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.15);
          font-size: 4.5rem;
        }
      }

      .content_subtitle {
        font-family: $font-f-secondary;
        font-size: 1.2rem;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
        color: $c-secondary;
        margin-bottom: 0.8rem;
        text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.7);

        @media (min-width: 480px) {
          font-size: 1.4rem;
        }

        @media (min-width: 900px) {
          text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.5);
          font-size: 1.6rem;
          margin-bottom: 0.9rem;
        }

        @media (min-width: 1200px) {
          text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.15);
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }
      }

      .button {
        font-family: $font-f-primary;
        font-size: 1.1rem;
        text-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: $ls-button;
        color: $c-secondary;
        padding: 0.6rem 1.1rem;
        border-radius: 999rem;
        background-color: rgba(61, 61, 61, 0.8);
        box-shadow: 0 0 2rem hsla(0, 0, 0.05, 0.6);
        display: inline-block;

        @media (min-width: 768px) {
          font-size: 1.2rem;
          padding: 0.8rem 1.3rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.4rem;
          padding: 1rem 1.5rem;
        }

        &:hover {
          transform: translate(0, -4%);
          background-color: $back-c-button-hover;
          transition: all ease 0.2s;
        }
      }
    }

    .slider {
      border-radius: 3rem;
      overflow: hidden;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);

      .big_image {
        display: block;
      }

      .small_image {
        object-fit: cover;
        height: 50rem;
        width: 100%;
        display: block;
      }
    }
  }
}
